.heading{
    margin: 0px;
    box-shadow: 3px 3px 3p grey;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.note{
    color: black;
}

.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: grey;
    color: white;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

canvas{
    box-shadow: 5px 5px 5px grey;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
}